In [8]:
%pylab inline
import pandas as pd
import numpy as np
from datetime import datetime
import os
from os.path import join

Populating the interactive namespace from numpy and matplotlib

In [16]:
drop = join(os.path.expanduser("~"),"Dropbox", "Experiments","2019-Ito-kun","Data")
d = join(drop,'QMS')

In [18]:
a = sorted(os.listdir(d))

In [30]:
""" csv """
base_time = datetime(2019, 12, 27, 20, 21, 38)
start_time = datetime(2019, 12, 27, 20, 17, 24)
d_time = (start_time - base_time).total_seconds()
q_csv = pd.read_csv(
    d + "/S1_191227_201724.csv",
    header=35,
    encoding='utf-8',
    
)
print(q_csv.columns)
q_csv.head()

Index(['       1  ', '000:00:00.000 ', '1.00E-99 ', '1.00E-99 .1', '6.07E-05 ',
       ' 1.00E-14', ' 1.00E-14.1', ' 1.00E-14.2', ' 1.00E-14.3', ' 1.00E-14.4',
       ' 1.00E-14.5', ' 1.00E-14.6', ' 1.00E-14.7', ' 1.00E-14.8',
       ' 1.00E-14.9', ' 1.00E-14.10', ' 1.00E-14.11', ' 1.00E-14.12',
       ' 1.00E-14.13', ' 1.00E-99', ' 1.00E-99.1', ' 1.00E-99.2',
       ' 1.00E-99.3', ' 1.00E-99.4', ' 1.00E-99.5'],
      dtype='object')

,1,000:00:00.000,1.00E-99,1.00E-99 .1,6.07E-05,1.00E-14,1.00E-14.1,1.00E-14.2,1.00E-14.3,1.00E-14.4,...,1.00E-14.10,1.00E-14.11,1.00E-14.12,1.00E-14.13,1.00E-99,1.00E-99.1,1.00E-99.2,1.00E-99.3,1.00E-99.4,1.00E-99.5
0,2,000:00:00.704,1.000000e-99,1.000000e-99,0.000061,1.670000e-08,4.710000e-10,1.710000e-11,7.050000e-10,1.260000e-09,...,1.000000e-14,1.000000e-14,1.000000e-14,1.000000e-14,1.000000e-99,1.000000e-99,1.000000e-99,1.000000e-99,1.000000e-99,1.000000e-99
1,3,000:00:01.407,1.000000e-99,1.000000e-99,0.000061,1.670000e-08,4.710000e-10,1.710000e-11,7.050000e-10,1.260000e-09,...,1.640000e-08,1.000000e-14,1.000000e-14,1.000000e-14,1.000000e-99,1.000000e-99,1.000000e-99,1.000000e-99,1.000000e-99,1.000000e-99
2,4,000:00:02.094,1.000000e-99,1.000000e-99,0.000056,1.370000e-08,3.820000e-10,1.710000e-11,7.050000e-10,1.260000e-09,...,1.640000e-08,2.000000e-09,1.090000e-09,1.230000e-08,1.000000e-99,1.000000e-99,1.000000e-99,1.000000e-99,1.000000e-99,1.000000e-99
3,5,000:00:02.813,1.000000e-99,1.000000e-99,0.000056,1.370000e-08,3.820000e-10,1.470000e-11,6.120000e-10,1.000000e-09,...,1.640000e-08,2.000000e-09,1.090000e-09,1.230000e-08,1.000000e-99,1.000000e-99,1.000000e-99,1.000000e-99,1.000000e-99,1.000000e-99
4,6,000:00:03.500,1.000000e-99,1.000000e-99,0.000056,1.370000e-08,3.820000e-10,1.470000e-11,6.120000e-10,1.000000e-09,...,1.440000e-08,1.820000e-09,1.050000e-09,1.260000e-08,1.000000e-99,1.000000e-99,1.000000e-99,1.000000e-99,1.000000e-99,1.000000e-99

In [31]:
""" calculate time """
def calc_time(time: str):
    hour, minute, second = time.split(':')
    tmp = int(hour)*60*60 + int(minute)*60 + float(second)
    return tmp + d_time
calc_time('000:55:45.719')

3091.719