In [1]:
import datetime
import pandas as pd
import numpy as np

In [2]:
np.zeros([3,1]).T

array([[0., 0., 0.]])

In [16]:
now = datetime.datetime.now()
a = np.zeros([4,3])
b = np.array([now,5,8])
a = pd.DataFrame(a,columns=['a','b','c'])
b = pd.DataFrame(np.atleast_2d(b),columns=['a','b','c'])
c = pd.DataFrame(np.atleast_2d([now,*[12,13]]),columns=['a','b','c'])

In [17]:
c

                           a   b   c
0 2023-05-01 17:00:57.291198  12  13

In [18]:
b

                           a  b  c
0 2023-05-01 17:00:57.291198  5  8

In [19]:
tot = pd.concat([a,b,c],ignore_index=True)

In [20]:
tot

                            a    b    c
0                         0.0  0.0  0.0
1                         0.0  0.0  0.0
2                         0.0  0.0  0.0
3                         0.0  0.0  0.0
4  2023-05-01 17:00:57.291198    5    8
5  2023-05-01 17:00:57.291198   12   13

In [21]:
tot = tot.iloc[0:0]

In [22]:
tot

Empty DataFrame
Columns: [a, b, c]
Index: []

In [23]:
tot = pd.concat([b,c],ignore_index=True)
tot

                           a   b   c
0 2023-05-01 17:00:57.291198   5   8
1 2023-05-01 17:00:57.291198  12  13

In [26]:
vals = tot[['b','c']]
vals

    b   c
0   5   8
1  12  13

In [30]:
vals.mean().values

array([ 8.5, 10.5])

In [12]:
columns = ['as','buka','vedi']
df = pd.DataFrame(columns=columns)

In [13]:
df

Empty DataFrame
Columns: [as, buka, vedi]
Index: []